[package]
org = "ballerinax"
name = "rabbitmq"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["service", "client", "messaging", "network", "pubsub"]
repository = "https://github.com/ballerina-platform/module-ballerinax-rabbitmq"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.5.0"

[[platform.java11.dependency]]
path = "./lib/amqp-client-@amqp.client.version@.jar"

[[platform.java11.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "rabbitmq-native"
version = "@toml.version@"
path = "../native/build/libs/rabbitmq-native-@project.version@.jar"

[[platform.java11.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "constraint-native"
version = "@constraint.version@"
path = "./lib/constraint-native-@constraint.native.version@.jar"

[build-options]
observabilityIncluded=true
