[package]
org = "ballerinax"
name = "rabbitmq"
version = "3.3.1"
authors = ["Ballerina"]
keywords = ["service", "client", "messaging", "network", "pubsub", "Vendor/RabbitMQ", "Area/Communication", "Type/Connector"]
repository = "https://github.com/ballerina-platform/module-ballerinax-rabbitmq"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.12.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
path = "./lib/amqp-client-5.18.0.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "rabbitmq-native"
version = "3.3.1"
path = "../native/build/libs/rabbitmq-native-3.3.1.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "constraint-native"
version = "1.7.0"
path = "./lib/constraint-native-1.7.0.jar"

[build-options]
observabilityIncluded=false
